body {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
  font-family: "Plus Jakarta Sans";
  background: #0F172A;
  color: #E2E8F0;
}

.container {
  margin: 0 auto;
  width: 1200px;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.header {
  position: relative;
  border-bottom: 0.5px solid #334155;
  padding-top: 90px;
  padding-bottom: 40px;
  margin-bottom: 50px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 23, 42, 0)), to(#0F172A));
  background: linear-gradient(180deg, rgba(15, 23, 42, 0) 0%, #0F172A 100%);
}
.header::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background: url("../../images/line-horizontal.png"), url("../../images/line-vertical.png");
}
.header::after {
  position: absolute;
  z-index: -2;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: -70%;
  background: conic-gradient(from 182.43deg at 50% 50%, #FE79B9 0deg, #AD00FF 150deg, #2489FF 360deg);
  opacity: 0.92;
  -webkit-filter: blur(60px);
          filter: blur(60px);
  -webkit-transform: rotate(-6.02deg);
          transform: rotate(-6.02deg);
}
.header__title {
  margin-bottom: 4px;
  font-weight: 800;
  font-size: 40px;
  line-height: 1.4;
}
.header__subtitle {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  color: #CBD5E1;
}
.header__address-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 20px;
}
.header__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  fill: #E2E8F0;
}
.header__address-text {
  margin-left: 4px;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 6px;
}
.header__item {
  border-radius: 50px;
  border: 0.5px solid;
}
.header__item:nth-child(1) {
  background: #F6F3FF;
  border-color: #7C3AED;
  color: #7C3AED;
  fill: #7C3AED;
}
.header__item:nth-child(2) {
  background: #F1F8FF;
  border-color: #0A66C2;
  color: #0A66C2;
  fill: #0A66C2;
}
.header__item:nth-child(3) {
  background: #FFF4F1;
  border-color: #F24E1E;
  color: #F24E1E;
  fill: #F24E1E;
}
.header__item:nth-child(4) {
  background: #F2F2F2;
  border-color: #222222;
  color: #222222;
  fill: #222222;
}
.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 6px 12px;
  color: inherit;
  fill: inherit;
}
.header__button-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-left: 4px;
}

.section {
  padding: 0 15px;
}
.section__container {
  border-bottom: 0.5px solid #334155;
  padding: 30px 0;
}
.section__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.section__box-content {
  margin-left: 380px;
  margin-bottom: 20px;
}
.section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.section__title {
  width: 380px;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}
.section__under-title {
  margin-right: auto;
}
.section__under-title--dark {
  font-weight: 400;
}
.section__icon {
  fill: #64748B;
}
.section__date {
  font-family: "Inconsolata";
  font-weight: 500;
  font-size: 19px;
  line-height: 1;
  letter-spacing: -0.05em;
}/*# sourceMappingURL=index.css.map */