.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.5px solid #334155;
    min-width: 1200px;
    padding-top: 100px;
    padding-bottom: 40px;
    margin-bottom: 50px;
    background: linear-gradient(180deg, rgba(15, 23, 42, 0) 0%, #0F172A 100%);

    &::before {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        background: url('../../images/line-horizontal.png'), 
                    url('../../images/line-vertical.png');
        background-size: contain;
        background-repeat:round;
    }

    &::after {
        position: absolute;
        z-index: -2;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: -70%;
        background: conic-gradient(from 182.43deg at 50% 50%, #FE79B9 0deg, #AD00FF 150deg, #2489FF 360deg);
        opacity: 0.92;
        filter: blur(60px);
        transform: rotate(-6.02deg);
    }

    &__title {
        margin-bottom: 10px;
        font-weight: 800;
        font-size: 70px;
        line-height: 1.4;
    }

    &__subtitle {
        margin-bottom: 50px;
        font-weight: 500;
        font-size: 25px;
        line-height: 1.3;
        color: #CBD5E1;
    }

    &__address-box {
        display: flex;
        // justify-content: center;
        gap: 20px;
        margin-bottom: 15px;
    }

    &__address {
        display: flex;
        align-content: center;
        justify-content: center;
        gap: 5px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5;
        fill: $color-text-primary;
    }

    &__address-text {
    }

    &__buttons {
        // display: flex;
        // justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 12px;
        
    }

    &__item {
        border-radius: 50px;
        border: 0.5px solid;
    
        &:nth-child(1) {
            background: #F6F3FF;
            border-color: #7C3AED;
            color: #7C3AED;
            fill: #7C3AED;
        }
        &:nth-child(2) {
            background: #F1F8FF;
            border-color: #0A66C2;
            color: #0A66C2;
            fill: #0A66C2;
        }
        &:nth-child(3) {
            background: #FFF4F1;
            border-color: #F24E1E;
            color: #F24E1E;
            fill: #F24E1E;
        }
        &:nth-child(4) {
            background: #F2F2F2;
            border-color: #222222;
            color: #222222;
            fill: #222222;
    }
    }

    &__button {
        display: flex;
        align-content: center;
        justify-content: center;
        gap: 5px;
        text-decoration: none;
        padding: 6px 12px;
        color: inherit;
        fill: inherit;
        
    }

    &__button-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5;
            
    }
}