.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 1230px;
    padding-top: 100px;
    padding-bottom: 40px;
    margin-bottom: 50px;
    overflow: hidden;
    border-bottom: 0.5px solid #334155;
    background: linear-gradient(180deg, rgba(15, 23, 42, 0) 0%, #0F172A 100%);

    &::before {
        position: absolute;
        display: block;
        content: '';
        z-index: -1;
        min-width: 1600px;
        width: 100%;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background: url('../images/line-horizontal.png'), 
                    url('../images/line-vertical.png');
    }

    &::after {
        position: absolute;
        content: '';
        z-index: -2;
        min-width: 1600px;
        width: 100%;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background: url('../images/gradient.png');
        background-size: cover;
    }

    &__title {
        margin-bottom: 10px;
        font-weight: 800;
        font-size: 70px;
        line-height: 1.4;
    }

    &__subtitle {
        margin-bottom: 50px;
        font-weight: 500;
        font-size: 25px;
        line-height: 1.3;
        color: #CBD5E1;
    }

    &__address-box {
        display: flex;
        gap: 5px;
        margin-bottom: 15px;
    }

    &__address {
        display: flex;
        font-style: normal;
        font-size: 18px;
        fill: $color-text-primary;
        padding: 6px 12px;
        border-radius: 50px;
        border: 1px solid;
        border-color: transparent;
        transition: border-color 250ms cubic-bezier(.67, .12, .49, .9);

        &:hover {
            border-color: rgba(100, 116, 139, .72);
        }
    }

    &__address-text {
        display: flex;
        color: inherit;
        width: 100%;
        height: 100%;
    }

    &__address-icon {
        margin-right: 5px;
    }

    &__buttons {
        list-style: none;
        display: flex;
        gap: 12px;
        padding: 0;
        margin: 0;
    }

    &__item {
        border-radius: 50px;
        border: 0.5px solid;
        backface-visibility: hidden;
        transition: transform 250ms cubic-bezier(.56, .16, .41, 2);
    
        &:hover,
        &:focus {
            transform: scale(105%);
        }
    }

    &__button {
        display: flex;
        align-content: center;
        justify-content: center;
        gap: 5px;
        padding: 6px 12px;
        color: inherit;
        fill: inherit;
        
    }

    &__button-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5;     
    }
}