.section {
    padding: 0 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.26;

    &__container {
        border-bottom: 0.5px solid #334155;
        padding: 35px 0;
    }
    
    &__box {
        display: flex;
        // align-items: center;
        justify-content: space-between;
    }
    
    &__content {
        
        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    &__flex-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        width: 500px;
    }

    &__flex {
        width: 100%;
    }
    
    &__list {
        display: flex;
        gap: 11px;
        margin-top: 14px;
        margin-bottom: 10px;
    }
    
    &__item {
        font-weight: 500;
        color: #CBD5E1;
        padding: 3px 8px;
        background: #334155;
        border-radius: 7.6916px;
    }

    &__subtitle {
        font-weight: 400;
        line-height: 1.5;
        color: #E2E8F0;
        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &__icon-dot {
        fill: #CBD5E1;
        margin-right: 15px;
    }


    &__under-title {
        display: inline-block;
        margin-right: auto;
        &--dark {
            font-weight: 400;
        }
    }

    &__icon-date {
        // margin-left: auto;
        fill: #64748B;
        margin-right: 5px;
    }

    &__date {
        display: inline-flex;
        align-items: center;
        font-family: 'Inconsolata';
        font-weight: 500;
        font-size: 20px;
        line-height: 1.1;
        letter-spacing: -0.05em;
    }
}

.section-skill {

    &__box {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    
    &__title {
        margin-bottom: 10px;
    }

    &__content {
        display: flex;
    }

    &__subtitle {
        display: inline-block;
        // padding: 5px 0;
        font-weight: 400;
        line-height: 1.5;
        color: #64748B;
        min-width: 230px;
    }

    &__list {
        display: inline-block;
    }

    &__item {
        position: relative;
        display: inline-block;
        padding: 5px 8px;
        margin-bottom: 5px;
        overflow: hidden;
        font-weight: 500;
        color: #CBD5E1;
        background: #334155;
        border-radius: 7.6916px;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__level {
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;
        display: block;
        height: 3px;
        background-color: rgba(100, 116, 139, 0.72);
    }
}